<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "trips" %>
</head>
<body >

  <div id ="header">

    <div id="wrapper">
      <ul id="portfolio">
        <li><%= image_tag 'trip_1.jpeg' %></li>
        <li><%= image_tag 'trip_2.jpeg' %></li>
        <li><%= image_tag 'trip_3.jpeg' %></li>
        <li><%= image_tag 'trip_4.jpeg' %></li>
        <li><%= image_tag 'trip_5.jpeg' %></li>
        <li><%= image_tag 'trip_6.jpeg' %></li>
        <li><%= image_tag 'trip_7.jpeg' %></li>
        <li><%= image_tag 'trip_8.jpeg' %></li>
      </ul>
    </div>
  </div>

</body>


</html>
<br><br><br><br>
trips index.html.erb

<br>
current_user: <%=  @user.username %>









<%# Logout of the session %>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
