<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "trips" %>
<%= javascript_include_tag 'trips', 'data-turbolinks-track' => true %>
</head>
<body >

  <div id ="header">
    <div id="menu">
      <h2> Trip Booker </h2>
    </div>
  </div>

    <div id="wrapper">
      <ul id="portfolio">

        <li><%= image_tag 'trip_1.jpeg', alt: "trip1" %><br>
          <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>

        <li><%= image_tag 'trip_2.jpeg', alt: "trip2"%><br>
          <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>

        <li><%= image_tag 'trip_3.jpeg', alt: "trip3" %><br>
          <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>

        <li><%= image_tag 'trip_4.jpeg', alt: "trip4" %><br>
          <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>

        <li><%= image_tag 'trip_5.jpeg', alt: "trip5" %><br>
           <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%>>
        </li>

        <li><%= image_tag 'trip_6.jpeg', alt: "trip6" %><br>
           <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>
        
        <li><%= image_tag 'trip_7.jpeg', alt: "trip7" %><br>
           <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>
        
        <li><%= image_tag 'trip_8.jpeg', alt: "trip8" %><br>
         <%= button_tag(type: 'button') do content_tag(:strong, 'Add to Wishlist') end%> 
        </li>
      
      </ul>
    </div> <!-- portfolio -->
  </div> <!-- wrapper -->

  <div id="message">
  </div>

  <div id="footer">
    <h5> Logged in as: 
    <%=link_to "#{@user.username}", user_path(@user)%>  
    <%= link_to "Logout",{:controller=> "sessions", :action=> "destroy"}, :method => :destroy%></h5>
  </div> <!-- footer -->

</body> 


</html>









