<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "trips" %>
<%= javascript_include_tag 'trips_index', 'data-turbolinks-track' => true %>
</head>
<body >

  <div id ="header">
    <div id="menu">
      <h2> Cool Vacations</h2>
    </div>
  </div>

    <div id="wrapper">
      
      <ul id="portfolio">

        <!-- each trip seed object -->
        <% trip_id = 1 %>
        <% @trips.each do |trip| %> 
          <li id='<%= trip.id%>'> 
          <%= image_tag "trip_#{trip_id}.jpeg", alt: "trip#{trip_id}" %>
            <h6><%= trip.description%></h6>
              <button class="js-more" data-id="<%= trip.id %>">Get Our Price</button> 
              <button>
              <%= link_to "View Trip", trip_path(trip), {:method => :get, :action => :show} %>
              </button>
            <% trip_id += 1 %>
          </li>

        <% end %>
  
      </ul> <!-- portfolio -->
  
  </div> <!-- wrapper -->


  <div id="footer">
    <h5> Logged in as: 
    <%=link_to "#{@user.username}", user_posts_path(@user)%>  
    <%= link_to "Logout",{:controller=> "sessions", :action=> "destroy"}, :method => :destroy%></h5>
  </div> <!-- footer -->



</body> 


</html>









