<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "trips" %>
<%= javascript_include_tag 'trips', 'data-turbolinks-track' => true %>
</head>
<body >

  <div id ="header">
    <div id="menu">
      <h2> Trip Booker </h2>
    </div>
  </div>

    <div id="wrapper">
      
      <ul id="portfolio">

      <!-- each trip seed object -->
      <% @trips.each do |trip| %> 

        <li id='<%= trip.id%>'> 
        <%= image_tag 'trip_1.jpeg', alt: "trip1" %>
          <h6><%= trip.description %></h6>
          <input value="Add to Wishlist" type="button" />
        </li>

      <% end %>
  
      </ul> <!-- portfolio -->

  <div id="message">
 
  </div>
  
  </div> <!-- wrapper -->



  <div id="footer">
    <h5> Logged in as: 
    <%=link_to "#{@user.username}", user_path(@user)%>  
    <%= link_to "Logout",{:controller=> "sessions", :action=> "destroy"}, :method => :destroy%></h5>
  </div> <!-- footer -->

</body> 


</html>









