<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "trips" %>
<%= javascript_include_tag 'trips', 'data-turbolinks-track' => true %>
</head>
<body >

  <div id ="header">
    <div id="menu">
      <h2> Trip Planner </h2>
    </div>
  </div>

    <div id="wrapper">
      
      <ul id="portfolio">

        <!-- each trip seed object -->
        <% trip_id = 1 %>
        <% @trips.each do |trip| %> 
          <li id='<%= trip.id%>'> 
          <%= image_tag "trip_#{trip_id}.jpeg", alt: "trip#{trip_id}" %>
            <h6><%= truncate(trip.description) %></h6>
            <button class="js-more" data-id="<%= trip.id %>">More Info</button> 
              <%= button_to "View Trip", trip_path(trip), :method => :get, :action => :show %>
            <% trip_id += 1 %>
          </li>

        <% end %>
  
      </ul> <!-- portfolio -->
  
  </div> <!-- wrapper -->


  <div id="footer">
    <h5> Logged in as: 
    <%=link_to "#{@user.username}", user_path(@user)%>  
    <%= link_to "Logout",{:controller=> "sessions", :action=> "destroy"}, :method => :destroy%></h5>
  </div> <!-- footer -->


<!-- append full description to the screen -->
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.js-more').on("click", function(){
     var id = $(this).data("id")

     $.get("/trips/" + id + ".json", function(data) {
      $(`li#${id} h6`).html(data.description)
      })/* ajax request end */
    }) /* button on click end */
  }) /* top level function end */

  function weatherSentence(){
    if (    $('#resultsDiv').html().includes("rain") || $('#resultsDiv').html().includes("Rain") || $('#resultsDiv').html().includes("drizzle") ) {
      alert("this may work")
    }
  }

</script>

</body> 


</html>









