<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div id ="header">

    <div id="wrapper">
      <ul id="portfolio">
        <li><%= image_tag 'trip_1.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_2.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_3.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_4.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_5.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_6.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_7.jpeg', size: "200" %></li>
        <li><%= image_tag 'trip_8.jpeg', size: "200" %></li>
      </ul>
    </div>
  </div>

</body>


</html>


trips index.html.erb

<br>
current_user: <%=  @user.username %>









<%# Logout of the session %>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
