<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "trips" %>
</head>
<body >

  <div id ="header">
    <div id="menu">
      <h2> Trip Booker </h2>
    </div>

    <div id="wrapper">
      <ul id="portfolio">
        <li><%= image_tag 'trip_1.jpeg' %></li>
        <li><%= image_tag 'trip_2.jpeg' %></li>
        <li><%= image_tag 'trip_3.jpeg' %></li>
        <li><%= image_tag 'trip_4.jpeg' %></li>
        <li><%= image_tag 'trip_5.jpeg' %></li>
        <li><%= image_tag 'trip_6.jpeg' %></li>
        <li><%= image_tag 'trip_7.jpeg' %></li>
        <li><%= image_tag 'trip_8.jpeg' %></li>
      </ul>
    </div> <!-- portfolio -->
  </div> <!-- wrapper -->

  <div id="footer">
    <h6> Logged in as: <%=@user.username %></h6>
<%# Logout of the session %>
    <div id="logout">
      <a><%= link_to "Logout",{:controller=> "sessions", :action=> "destroy"}, :method => :destroy%></a>
    </div>
  </div> <!-- footer -->
</body> <!-- header -->


</html>









