homepage for logins



# Could use an ajax javascript item here to turn the form into a login instead?


<h3>Sign Up or  <a href="#">Login</a> </h3>

<div class ="signupLogin">
  <%= form_for :user, url: '/users' do |f| %>
    <div id= "field_1">
      <%= f.label :username %>
      <%= f.text_field :username %> 
    <div>

    <div id= "field_2">
      <%= f.label :password %>
      <%= f.password_field :password %> 
    </div>

    <div id= "field_3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %> 
    </div>

    <div id="submit">
    <%= f.submit "Sign Up" %>
  <% end %>
</div>



<!-- Create Javascript to turn the above form into a shorter login form and jack the html value of "sign up" into a url - this will be 
the sessions login-->

<script>


</script>

