<%= stylesheet_link_tag "applicationd.css" %>

<h3>Sign Up or  <a onClick="toggleLogin" href="#">Login</a> </h3>


<div class ="form container">

  <div id ="signup" style="display:block">

    <%= form_for :user, url: '/users' do |f| %>
      <div id= "field_1">
        <%= f.label :username %>
        <%= f.text_field :username %> 
      </div><br>

      <div id= "field_2">
        <%= f.label :password %>
        <%= f.password_field :password %> 
      </div><br>

      <div id= "field_3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %> <br><br>
      </div><br>

      <div id="submit">
        <%= f.submit "Sign Up" %>
      </div>
    <% end %>

  </div>

    <div id ="login" style="display:none;">
      <%= form_for :user, url: '/login' do |f| %>
        <div id= "field_1">
          <%= f.label :username %>
          <%= f.text_field :username %> 
        </div><br>

        <div id= "field_2">
          <%= f.label :password %>
          <%= f.password_field :password %> 
        </div><br>

        <div id="submit">
          <%= f.submit "Login" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

